@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --color-secondary: var(--secondary);
  --color-order: var(--order);

  --color-mute: var(--mute);

  --animate-fade-in-left: fade-in-left 0.4s ease-in-out;
  --animate-fade-in-right: fade-in-right 0.4s ease-in-out;
  --animate-fade-in: fade-in 0.2s ease-in-out;
  --animate-spin: spin 0.4s ease;

  --animate-skeleton: skeleton 1s infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: trnaslateX(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes skeleton {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  :root {
    --primary: #fc8a06;
    /* bg is also this foreground */
    --foreground: #ffffff;
    --background: #ffffff;
    --secondary: #03081f;
    --order: #028643;
    --mute: #e2e2e2;
  }

  .dark {
    --primary: #fc8a06;
    /* bg is also this foreground */
    --foreground: #ffffff;
    --background: #0d0d0d;
    --secondary: #121f58;
    --order: #028643;
    --mute: #e2e2e2;
  }

  * {
    box-sizing: border-box;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background transition-all duration-400;
    font-family: 'Poppins', sans-serif;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@utitlity mbtn {
  @apply px-4 py-2 bg-secondary text-foreground transition-all hover:bg-order;
}

@utility flare {
  @apply px-4 py-2 bg-primary text-secondary;
}

.skeleton {
  position: relative;
}

.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: skeleton 1s linear infinite;
}
